/results*
/delivery*
/databases
/.vscode
/.snakemake
/.nextflow
/.ipynb*
/rgi_heatmap
/assemblies
/*rgi*
/AMR*
/from_kbase
/megares*
/resfinder_db
/.RData
/.Rhistory
/hmms_*
.DS_Store
/plots
/old*
/HMMS_AMRFinderPlus
/**/.ipynb_checkpoints
Resfams-full.hmm.gz
*.simg
